@font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: local("Roboto-black"), url("../../fonts/roboto_black.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: local("Roboto-bold"), url("../../fonts/roboto-bold.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: local("Roboto-light"), url("../../fonts/roboto_light.woff2") format("woff2");
}